/* h2{
    color: deepskyblue;
    font-size: 20px;
    text-align: justify;
}
div+p{
    color: red;
    
} */

/* .container div p {
    color: royalblue;
} */

h2[title="header1"]{
    color: red;
}

p[title="paragraph1"]{
    color: saddlebrown;
    text-align: justify;
}

a[target="_blank"]{
    color: lawngreen;
    background-color: grey;
}

input[type="text"]{
    background-color: rosybrown;
}

